appsettings.Development.json

# IDE
.idea
.vscode

# Environment
.env

# Output
obj
bin
node_modules

# Migrations
.vs
.Development.json
Migrations

# Logger
Logs
/WorthBoards.Data/Migrations/ApplicationDbContextModelSnapshot.cs
/WorthBoards.Data/StaticImages
