
.container {
  height: 5rem;
}

.content {
  display: flex;
  flex: 1;
  margin: auto;
  padding-right: 1rem;
  
  > h6 {
    margin: auto 1rem;
  }

  > .avatar {
    width: 4rem;
    height: 4rem;
    border: 5px solid black;
    border-color: transparent;
    border-radius: 50%;
  }
}
