
.container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.tasks_list {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  border-radius: 5px;
  padding: 1rem 0.5rem 1rem 1rem;

  &:nth-child(even) {
    background-color: rgba(#000000, 0.1);
    @media screen and (prefers-color-scheme: dark) {
      background-color: rgba(#ffffff, 0.1);
    }
  }
}

.label_wrapper {
  padding-bottom: 0.5em;
  margin-bottom: 1rem;
  border-bottom: 1px solid darkgray;
  width: 100%;

  @media screen and (prefers-color-scheme: dark) {
    border-bottom: 1px solid lightgrey;
  }
}

.label {
  display: inline-block;
}
