.task_card {
  height: 8rem;
}

.task_card_clickable {
  height: 100%;
}

.task_card_content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.title_box {
  font-size: 0.9rem;
}

.top_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom_row {
  align-self: flex-start;
}

.image_box {
  display: flex;
}

.image_box .avatar {
  border-radius: 50%;
  margin-left: -0.7rem;
  border: 1px solid black;
  z-index: 2;
  width: 2rem;
  height: 2rem;
}

.image_box .avatar:first-child {
  margin-left: 0;
  z-index: 3;
}

.image_box .avatar:last-child {
  z-index: 1;
}
