.users_container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.user_box {
    display: flex;
    padding: 0.8rem;
    margin: 0.3rem 0 0.3rem 0;
    background-color: #1F1F1F;
    border-radius: 1rem;
    align-items: center;
    overflow: hidden;
}

.user_box > * {
    margin-right: 0.5rem;
}

.user_box .avatar {
    width: 2rem;
    height: 2rem;
}